In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [5]:
# create a data frame 
data={"fruits":["apple","banana","orange","apple","orange","banana"]}
df=pd.DataFrame(data)

In [8]:
df

   fruits
0   apple
1  banana
2  orange
3   apple
4  orange
5  banana

In [6]:
# creating a dataframe 
encoder=OneHotEncoder(sparse=False)
encoded_data=encoder.fit_transform(df[["fruits"]])

C:\Users\public\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [7]:
encoded_df=pd.DataFrame(encoded_data,columns=encoder.get_feature_names_out(["fruits"]))

In [9]:
encoded_df

   fruits_apple  fruits_banana  fruits_orange
0           1.0            0.0            0.0
1           0.0            1.0            0.0
2           0.0            0.0            1.0
3           1.0            0.0            0.0
4           0.0            0.0            1.0
5           0.0            1.0            0.0

In [10]:
#concatenate the original dataframe with the encoded dataframe

In [11]:
final_df= pd.concat([df,encoded_df],axis=1)

In [12]:
final_df

   fruits  fruits_apple  fruits_banana  fruits_orange
0   apple           1.0            0.0            0.0
1  banana           0.0            1.0            0.0
2  orange           0.0            0.0            1.0
3   apple           1.0            0.0            0.0
4  orange           0.0            0.0            1.0
5  banana           0.0            1.0            0.0